doctype html
html
  head
    title= title
    ul
        li
            a(href= '/Dad') Dad
        li
            a(href= '/Mom') Mom
        li
            a(href= '/Gurleen') Gurleen 
        li
            a(href= '/Ginnu') Ginnu
            
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content